<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNpByrs4VB9lmWOmKBex-7HiPYjHJbuoE</string>
	<key>GCM_SENDER_ID</key>
	<string>501656283700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onvail.app</string>
	<key>PROJECT_ID</key>
	<string>onvail-8cd57</string>
	<key>STORAGE_BUCKET</key>
	<string>onvail-8cd57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501656283700:ios:5916714daeaf8e60cf7861</string>
</dict>
</plist>